<% @page_title = "Registrar material" %>
<div class="Sign_Form" style= "margin: auto; width: 50%; padding: 10px; text-align: center">
  <h1>Registra material</h1>
  <%= form_for(:material, :url => {:controller => 'materials', :action => 'create'}) do |f| %>
    <p> Nombre:</br> <%= f.text_field :nombre%> </p>
    <label for="person_country_id">Bodega:</label></br>
    <%= f.collection_select(:bodega, Warehouse.all, :id, :nombre, {include_blank: false, include_hidden: false}, {multiple: false, include_hidden: false}) %>
    <p> Precio:</br> <%= f.number_field :precio%> </p>
    <p> Stock:</br> <%= f. number_field :stock%></p>
    <%= f.submit :Registrar %>
  <% end %>
  <% if @material.errors.any? %>
    <ul class="Signup_Errors">
    <% for message_error in @material.errors.full_messages %>
      <li>* <%= message_error %></li>
    <% end %>
    </ul>
  <% end %>
</div>
