<%=puts @data%>

<% @page_title = "Listado Ordenes" %>
<%if (session[:cargo] == "Bodeguero") || (session[:cargo] == "Bodeguero central") || (session[:cargo] == "Personal de obra")%>
  <table class="table table-sm table-dark">
    <tr>
      <th style = "background-color:#87A0F5">Material</th>
      <th style = "background-color: #87A0F5">Cantidad</th>
      <th style = "background-color: #87A0F5">Bodega</th>
      <th style = "background-color: #87A0F5">Estado</th>
      <th style = "background-color: #87A0F5">Fecha ideal de entrega</th>
      <th style = "background-color: #87A0F5"> Editar</th>
    </tr>
    <% Order.all.each do |m| %>
    <tr>
      <th><%= Material.find_by(id: MaterialsOrder.find_by(order_id: m.id).material_id).nombre %></th>
      <th><%= MaterialsOrder.find_by(order_id: m.id).cant %></th>
      <th><%= Warehouse.find_by(id: Material.find_by(id: MaterialsOrder.find_by(order_id: m.id).material_id).bodega).nombre%></th>
      <th><%= m.estado%></th>
      <th><%= m.fecha_entrega%></th>
      <%= form_for(m,  {url: orders_show_path(m.id), method: :GET}) do |f| %>
      <th><%=f.submit :Modificar %></th>
      <%end%>
    </tr>
    <% end %>

    <% if @prev_view == "new_material" %>
      <%= link_to "Volver", "/new_material"%>
    <% end %>
<%end%>

<%if session[:cargo] == "Encargado de adquisiciones"%>
  <h1>Ordenes de materiales faltantes</h1>
  <table class="table table-sm table-dark">
    <tr>
      <th style = "background-color:#87A0F5">Material</th>
      <th style = "background-color: #87A0F5">Cantidad</th>
      <th style = "background-color: #87A0F5">Bodega</th>
      <th style = "background-color: #87A0F5">Estado</th>
      <th style = "background-color: #87A0F5">Fecha ideal de entrega</th>
      <th style = "background-color: #87A0F5"> Editar</th>
    </tr>
    <% Order.where(:estado => "Falta Material").each do |m| %>
    <tr>
      <th><%= Material.find_by(id: MaterialsOrder.find_by(order_id: m.id).material_id).nombre %></th>
      <th><%= MaterialsOrder.find_by(order_id: m.id).cant %></th>
      <th><%= Warehouse.find_by(id: Material.find_by(id: MaterialsOrder.find_by(order_id: m.id).material_id).bodega).nombre%></th>
      <th><%= m.estado%></th>
      <th><%= m.fecha_entrega%></th>
      <%= form_for(m, {url: cotizar_path(m), method: :POST})  do |f| %>
      <th><%=f.submit :Cotizar %></th>
      <%end%>
    </tr>
    <% end %>

    <% if @prev_view == "new_material" %>
      <%= link_to "Volver", "/new_material"%>
    <% end %>
<%end%>

<%if session[:cargo] == "Proveedor"%>
  <h1>Cotizaciones solicitadas</h1>
  <table class="table table-sm table-dark">
    <tr>
      <th style = "background-color:#87A0F5">Orden</th>
      <th style = "background-color: #87A0F5">Material</th>
      <th style = "background-color: #87A0F5">Cantidad</th>
      <th style = "background-color: #87A0F5"> Estado</th>
      <th style = "background-color: #87A0F5"> Editar</th>
    </tr>
    <% @data.each do |m| %>
    <tr>
      <th><%= m['id_orden'] %></th>
      <th><%= Material.find_by(id: m['material']).nombre %></th>
      <th><%= m['cantidad']%></th>
      <th><%= Order.find_by(id: m['id_orden']).estado%></th>
      <%= form_for(:order, {url: presupuestonew_path(m["id_orden"]), method: :POST})  do |f| %>
      <th><%=f.submit :Cotizar %></th>
      <%end%>
    </tr>
    <% end %>

    <% if @prev_view == "new_material" %>
      <%= link_to "Volver", "/new_material"%>
    <% end %>
<%end%>
