<% @page_title = "Solicitud de materiales" %>
<div  style= "margin: auto; width: 50%; padding: 10px; text-align: center">
  <h1>Registrar solicitud de materiales</h1>
  <%= form_for(:order, :url => {:controller => 'orders', :action => 'create'}) do |f| %>
    <p> Fecha de entrega:</br> <%= f.date_field :fecha_entrega%> </p>
    <p> Direccion entrega:</br> <%= f.select :direccion, options_for_select([
  ["Cargos", ""],
  ["Obra 1", "direccion 1"],
  ["Obra 2", "direccion 2"],
  ["Obra 3", "direccion 3"]]) %>
    <p> Materiales:</br><%= f.collection_select(:materials, Material.all, :materials, :nombre, {include_blank: false}, {multiple: false}) %>
    <p><%= f.submit :Registrar %>

  <% end %>
</div>
