
  <div class= "row">
    <b><p class="home">Inicio de <%=session[:nombre]%></b>
  </div>

<div class="container options-group">
  <%if @current_user.cargo == 'Personal de obra' %>
    <div class="row text-center">
      <div class="col-xs-4">
        <%= link_to image_tag("add_order.png", style:"height:auto;display:block;
margin-left:auto;margin-right:auto;width:80%;"), "/new_order" %>
      <p>Solicitar materiales
      </div>
      <div class="col-xs-4">
        <%= link_to image_tag("orders.png", style:"height:auto;display:block;
margin-left:auto;margin-right:auto;width:80%;"), "/list_orders" %>
      <p>Ver ordenes
      </div>
    </div>
    <%end%>

    <%if @current_user.cargo == 'Bodeguero' %>
      <div class="row text-center">
        <div class="col-xs-4">
          <%= link_to image_tag("add_material.png", style:"height:auto;display:block;
  margin-left:auto;margin-right:auto;width:60%;"), "/new_material" %>
        <p>Agregar nuevo material
        </div>
        <div class="col-xs-4">
          <%= link_to image_tag("materials.png", style:"height:auto;display:block;
  margin-left:auto;margin-right:auto;width:60%;"), "/list_materials" %>
        <p>Ver materiales
        </div>
        <div class="col-xs-4">
          <%= link_to image_tag("orders.png", style:"height:auto;display:block;
  margin-left:auto;margin-right:auto;width:60%;"), "/list_orders" %>
        <p>Ver ordenes
        </div>
    </div>
  <%end%>

  <%if @current_user.cargo == 'Bodeguero central' %>

  <div class="row text-center">
      <div class="col-xs-4">
        <%= link_to image_tag("orders.png", style:"height:auto;display:block;
margin-left:auto;margin-right:auto;width:90%;"), "/list_orders" %>
        <p>Ver ordenes
      </div>
      <div class="col-xs-4">

        <%= link_to image_tag("materials.png", style:"height:auto;display:block;
margin-left:auto;margin-right:auto;width:90%;"), "/list_materials" %>
      <p>Ver materiales
      </div>
    <div class="col-xs-4">
        <%= link_to image_tag("add_material.png", style:"height:auto;display:block;
margin-left:auto;margin-right:auto;width:90%;"), "/new_material"%>
       <p>Agregar nuevo material
    </div>
  </div>
    <%end%>

  <%if @current_user.cargo == 'Encargado de adquisiciones' %>
    <div class="row text-center">
        <div class="col-xs-4">
          <%= link_to image_tag("orders.png", style:"height:auto;display:block;
  margin-left:auto;margin-right:auto;width:60%;"), "/list_orders" %>
        <p>Ver ordenes
        </div>

        <div class="col-xs-4">
          <%= link_to image_tag("cotizacion.png", style:"height:auto;display:block;
  margin-left:auto;margin-right:auto;width:60%;"), "/list_materials" %>
        <p>Ver cotizaciones
        </div>
    </div>

  <%end%>

  <%if @current_user.cargo == 'Proveedor' %>
  <div class="row text-center">
      <div class="col-xs-4">
        <%= link_to image_tag("orders.png", style:"height:auto;display:block;
margin-left:auto;margin-right:auto;width:60%;"), "/list_orders" %>
      <p>Ver ordenes
      </div>

  <%end%>

</div>
