<% @page_title = "UserAuth | Signup" %>
<div class="Sign_Form">
  <h1>Registro de usuarios</h1>
  <%= form_for(:user, :url => {:controller => 'users', :action => 'create'}) do |f| %>
    <p> Nombre:</br> <%= f.text_field :nombre%> </p>
    <p> Apellido:</br> <%= f.text_field :apellido%> </p>
    <p> Correo:</br> <%= f.text_field :correo%> </p>
    <p> Cargo:</br> <%= f.select :cargo, options_for_select([
  ["Cargos", ""],
  "Bodeguero",
  "Bodeguero central",
  "Personal de obra",
  "Encargado de adquisiciones"]) %>
  <p> Bodega:</br><%= f.collection_select(:bodega, Warehouse.all, :id, :nombre, {include_blank: false, include_hidden: false}, {multiple: false, include_hidden: false}) %>
    <p> Contrasena:</br> <%= f.password_field :pass%></p>
    <p> Confirmar contrasena:</br> <%= f.password_field :pass_confirmation%> </p>
    <p><%= f.submit :Signup %>
  <% end %>
  <% if @user.errors.any? %>
    <ul class="Signup_Errors">
    <% for message_error in @user.errors.full_messages %>
      <li>* <%= message_error %></li>
    <% end %>
    </ul>
  <% end %>
</div>
