<div class="container">
     <div class="row">
         <div class="col-md-6  offset-md-0  toppad" >
             <div class="card">
                 <div class="card-body">
                     <h2 class="card-title">Perfil</h2>
                     <table class="table table-user-information ">
                       <%= form_for @user, :method => :PUT do |f| %>
                         <tbody>
                             <tr>
                                 <td>Nombre:</td>
                                 <td><%= f.text_field :nombre %> </td>
                             </tr>
                             <tr>
                                 <td>Apellido:</td>
                                 <td><%= f.text_field :apellido %> </td>
                             </tr>
                             <tr>
                                 <td>Cargo:</td>
                                 <td><%= @user.cargo %></td>
                             </tr>
                         </tbody>
                     </table>
                     <%= f.submit "Guardar cambios" %>
                   <% end %>
             </div>
         </div>
     </div>
 </div>
